<div class="cool-frame">
  {{ attach_library('collabora_online/cool') }}
  <div style="display: none">
    <form action="" enctype="multipart/form-data" method="post" target="collabora-online-viewer" id="collabora-submit-form">
      <input name="access_token" value="{{ accessToken }}" type="hidden" />
      <input name="access_token_ttl" value="{{ accessTokenTtl }}" type="hidden" />
      <input type="submit" value="" />
    </form>
  </div>

  <iframe id="collabora-online-viewer" name="collabora-online-viewer" class="cool-frame__iframe" style="{{ iFrameStyle }}" allow="clipboard-read *; clipboard-write *" {{ allowfullscreen }}>
  </iframe>

  <script type="text/ecmascript">
    // This is defined in the js/cool.js
    let closebutton = '{{ closebutton }}';
    let options = null;
    if (closebutton == 'true') {
        options = { closebutton: true };
    }
    loadDocument('{{ wopiClient }}', '{{ wopiSrc }}', options);
  </script>
</div>
